@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1174px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
}

input {
  outline: none;
}

header {
  padding-top: 40px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo_wrapper {
  width: 93px;
  height: 48px;
}
header .container .navs {
  display: none;
}
header .container .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #828282;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
header .container .display ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .display ul li {
  width: 100%;
  text-align: center;
}
header .container .display ul li a {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}
header .container .display button {
  border-radius: 10px;
  width: 98px;
  height: 56px;
  background-color: #B6B6B6;
  cursor: pointer;
  height: 40px;
  margin: 0 auto;
  background-color: transparent;
}
header .container .display button:hover {
  background-color: #828282;
}
header .container .display button a {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}
header .container .hamburger__wrapper {
  width: 48px;
  height: 48px;
}
header .container .hamburger__wrapper button {
  border-radius: 10px;
  width: 48px;
  height: 56px;
  background-color: #B6B6B6;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}
header .container .hamburger__wrapper button:hover {
  background-color: #828282;
}
header .container .hamburger__wrapper button img {
  width: 18px;
  height: 14px;
}

@media only screen and (min-width: 768px) {
  header .container .display {
    all: unset;
    display: none;
  }
  header .container .navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .navs ul {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px;
  }
  header .container .navs ul li {
    all: unset;
  }
  header .container .navs ul li a {
    font-weight: 600;
    font-size: 13px;
    color: #828282;
  }
  header .container .navs ul li:not(:last-child) {
    margin-right: 41px;
  }
  header .container .navs button {
    border-radius: 10px;
    width: 98px;
    height: 56px;
    background-color: #B6B6B6;
    cursor: pointer;
  }
  header .container .navs button:hover {
    background-color: #828282;
  }
  header .container .navs button a {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }
  header .container .hamburger__wrapper {
    display: none;
  }
}
.banner {
  padding-top: 64px;
}
.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .container .img__wrapper {
  margin-bottom: 53px;
}
.banner .container .content__wrapper h1 {
  font-weight: 700;
  font-size: 32px;
  color: #828282;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}
.banner .container .content__wrapper p {
  font-weight: 400;
  font-size: 18px;
  color: #828282;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
.banner .container .content__wrapper .btns {
  width: 100%;
  text-align: center;
}
.banner .container .content__wrapper .btns button {
  border-radius: 10px;
  width: 212px;
  height: 56px;
  background-color: #B6B6B6;
  cursor: pointer;
  font-weight: 600;
  font-size: 13;
  color: #fff;
  cursor: pointer;
}
.banner .container .content__wrapper .btns button:hover {
  background-color: #828282;
}
.banner .container .content__wrapper .btns button:not(:last-child) {
  margin-bottom: 21px;
}
.banner .container .content__wrapper .btns button:hover {
  background-color: #828282;
}

@media only screen and (min-width: 768px) {
  .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .banner .container .img__wrapper {
    width: 40%;
  }
  .banner .container .content__wrapper {
    max-width: 635px;
    width: 50%;
  }
  .banner .container .content__wrapper h1 {
    text-align: left;
  }
  .banner .container .content__wrapper p {
    text-align: left;
  }
  .banner .container .content__wrapper .btns {
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
.second__section {
  padding-top: 128px;
}
.second__section .container .title {
  max-width: 676px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 209px;
}
.second__section .container .title h2 {
  font-weight: 700;
  font-size: 42px;
  color: #828282;
  margin-bottom: 16px;
  text-align: center;
}
.second__section .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #828282;
  text-align: center;
}
.second__section .container .cards {
  width: 100%;
}
.second__section .container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second__section .container .cards .card .img__wrapper {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second__section .container .cards .card .img__wrapper img {
  max-width: 317px;
}
.second__section .container .cards .card .content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second__section .container .cards .card .content__wrapper h3 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #828282;
  margin-bottom: 16px;
}
.second__section .container .cards .card .content__wrapper p {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #828282;
  margin-bottom: 16px;
}
.second__section .container .cards .card .content__wrapper:not(:last-child) {
  margin-bottom: 128px;
}
.second__section .container .cards .card .content__wrapper button {
  border-radius: 10px;
  width: 160px;
  height: 56px;
  background-color: #B6B6B6;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.second__section .container .cards .card .content__wrapper button:hover {
  background-color: #828282;
}

@media only screen and (min-width: 768px) {
  .second__section .container .cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 93px;
  }
  .second__section .container .cards .card .img__wrapper {
    width: 40%;
  }
  .second__section .container .cards .card .content__wrapper {
    max-width: 635px;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second__section .container .cards .card .content__wrapper h3 {
    text-align: left;
    margin-bottom: 25px;
  }
  .second__section .container .cards .card .content__wrapper p {
    text-align: left;
    margin-bottom: 40px;
  }
  .second__section .container .cards .card .content__wrapper button {
    margin: unset;
  }
}
.third__section .container {
  padding-top: 150px;
}
.third__section .container .title {
  max-width: 676px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.third__section .container .title h2 {
  font-weight: 700;
  font-size: 42px;
  color: #828282;
  margin-bottom: 16px;
  text-align: center;
}
.third__section .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #828282;
  text-align: center;
}
.third__section .container .cards {
  width: 100%;
}
.third__section .container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}
.third__section .container .cards .card .img__wrapper {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third__section .container .cards .card .img__wrapper img {
  width: 180px;
}
.third__section .container .cards .card .content__wrapper {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third__section .container .cards .card .content__wrapper h3 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #828282;
  margin-bottom: 16px;
}
.third__section .container .cards .card .content__wrapper p {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #828282;
}

@media only screen and (min-width: 768px) {
  .third__section .container .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .third__section .container .cards .card {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third__section .container .cards .card .content__wrapper {
    width: 350px;
  }
  .third__section .container .cards .card .content__wrapper h3 {
    font-size: 24px;
  }
}
.fourth__section {
  padding-top: 128px;
}
.fourth__section .container .title {
  max-width: 676px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 72px;
}
.fourth__section .container .title h2 {
  font-weight: 700;
  font-size: 42px;
  color: #828282;
  margin-bottom: 16px;
  text-align: center;
}
.fourth__section .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #828282;
  text-align: center;
}
.fourth__section .container .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.fourth__section .container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  background-color: #f3f3f3;
  padding-top: 34px;
  padding-bottom: 40px;
}
.fourth__section .container .cards .card .img__wrapper {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fourth__section .container .cards .card .img__wrapper img {
  width: 180px;
}
.fourth__section .container .cards .card .content__wrapper {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fourth__section .container .cards .card .content__wrapper h3 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #828282;
  margin-bottom: 16px;
}
.fourth__section .container .cards .card .content__wrapper p {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #828282;
}

@media only screen and (min-width: 768px) {
  .fourth__section .container .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.fifth__section {
  background-color: #dbdbdb;
  padding-top: 98px;
  padding-bottom: 97px;
}
.fifth__section .container .title {
  max-width: 676px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.fifth__section .container .title h2 {
  font-weight: 700;
  font-size: 42px;
  color: #828282;
  margin-bottom: 16px;
  text-align: center;
}
.fifth__section .container .title p {
  font-weight: 400;
  font-size: 20px;
  color: #828282;
  text-align: center;
}
.fifth__section .container .title h2 {
  font-size: 32px;
}
.fifth__section .container .title p {
  font-size: 18px;
}
.fifth__section .container .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fifth__section .container .btn button {
  border-radius: 10px;
  width: 160px;
  height: 56px;
  background-color: #B6B6B6;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}
.fifth__section .container .btn button:hover {
  background-color: #828282;
}

footer {
  padding-top: 64px;
  padding-bottom: 71px;
  background-color: #828282;
}
footer .container .logo__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
footer .container .logo__wrapper img {
  width: 116px;
  height: 100%;
}
footer .container .nav__Wrapper {
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .nav__Wrapper li {
  width: 100%;
  text-align: center;
}
footer .container .nav__Wrapper li a {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}
footer .container .nav__Wrapper li:not(:last-child) {
  margin-bottom: 24px;
}
footer .container .round__imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .round__imgs .round {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4431372549);
}
footer .container .round__imgs .round:not(:last-child) {
  margin-right: 24px;
}

@media only screen and (min-width: 768px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .logo__wrapper {
    width: 116px;
    margin-bottom: 0;
    margin-right: 38px;
  }
  footer .container .nav__Wrapper {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  footer .container .nav__Wrapper li {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .nav__Wrapper li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  footer .container .round__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 10px;
  }
  footer .container .round__imgs .round {
    margin-right: 0;
  }
  footer .container .round__imgs .round:not(:last-child) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  footer .container .logo__wrapper {
    margin-right: 48px;
  }
  footer .container .nav__Wrapper li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 41px;
  }
  footer .container .round__imgs {
    gap: 24px;
  }
}