.fifth__section{
    background-color: #dbdbdb;
    padding-top: 98px;
    padding-bottom: 97px;
    .container{
        .title{
            @include title(40px);
            h2{
                font-size: 32px;
            }
            p{
                font-size: 18px;
            }
        }
        .btn{
            width: 100%;
            @include flex(center,center);
            button{
                @include btn(160px);
                @include text(600,13px,#fff)
            }
        }
    }
}