.third__section{
    .container{
        padding-top: 150px;
        .title{
            @include title(48px);
        }
        .cards{
            width: 100%;
            .card{
                @include flex(center,center);
                margin-bottom: 56px;
                .img__wrapper{
                    width: 100%;
                    margin-bottom: 24px;
                    @include flex(center,center);
                    img{
                        width: 180px;
                    }
                }
                .content__wrapper{
                    width: 350px;
                    @include flex(center,center);
                
                    h3{
                        width: 100%;
                        text-align: center;
                        @include text(700,24px,#828282);
                        margin-bottom: 16px;
                    
                    }
                    p{
                        width: 100%;
                        text-align: center;
                        @include text(400,15px,#828282);
                    }    
                }
            }
        }
    }
}
@media only screen and (min-width:768px){
    .third__section{
        .container{
            .cards{
                @include flex(center,center);
                gap: 30px;
                .card{
                    width: 350px;
                    @include flex(center,center);
                    .content__wrapper{
                        width: 350px;
                        h3{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}